[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = req_ext


[ req_distinguished_name ]
countryName                 = US
countryName_default         = US
stateOrProvinceName         = New Jersey
stateOrProvinceName_default = New Jersey
localityName                = Monroe
localityName_default        = Monroe
organizationName            = OpenFin
organizationName_default    = OpenFin
commonName                  = *.google.com
commonName_max              = 64
commonName_default          = google.com

[ req_ext ]
subjectAltName = @alt_names

[alt_names]
DNS.1   = *.google.com